<%- include('../../partials/header', {title: "Home"}); -%>


<div class="codecorn-head">
	<div class="container">
		<h1>CodeCorn</h1>
		<h2>Web Developer, Mobile App Developer</h2>
		<h2>and IOT Developer</h2>
	</div>
</div>


<%- include('../../partials/footer'); -%>
