@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  background: linear-gradient(to right, rgba(107, 183, 86, 0.95), rgba(0, 143, 104, 0.95));
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
}
header .navbar {
  display: flex;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}
header .navbar .brand h1 {
  font-size: 30px;
  font-weight: bold;
  color: #FFF;
  display: inline-block;
  padding-right: 10px;
}
header .navbar .brand h1 span {
  color: #CEF444;
}
header .navbar nav ul li {
  display: inline-block;
  padding: 10px;
}
header .navbar nav ul li a {
  text-decoration: none;
  color: #FFF;
  transition: 0.3s;
}
header .navbar nav ul li a:hover {
  color: #D6D6D6;
}
header .search {
  display: flex;
}
header .search input {
  flex: 1;
  height: 25px;
  border: 1px solid rgba(0, 100, 100, 0.95);
  outline: none;
  border-radius: 5px;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  margin-right: 10px;
  background: rgba(0, 143, 104, 0.95);
  color: #D6D6D6;
  font-size: 16px;
}
header .search input:focus {
  width: 200px;
  padding-left: 10px;
  padding-right: 10px;
}
header .search span {
  background-image: url("/img/cari.svg");
}
header .search .social img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.container {
  width: 80%;
  margin: auto;
}

.codecorn-head {
  background: linear-gradient(to right, rgba(107, 183, 86, 0.95), rgba(0, 143, 104, 0.95));
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  color: #FFF;
  clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}
.codecorn-head h1 {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 20px;
}
.codecorn-head h2 {
  font-size: 20px;
  font-family: "IBM Plex Mono", monospace;
  font-style: italic;
  padding-bottom: 10px;
}

/*# sourceMappingURL=style.css.map */
