<header>
<nav class="blue-grey darken-4">
	<div class="nav wrapper">
		<a href="#" class="brand-logo">Hulonthalangi</a>
		<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
	<ul id="nav-mobile" class="right hide-on-med-and-down">
		<li>
        	<a href=""><i class="large material-icons left">markunread</i></a>
        </li>
        <li>
        	<a href=""><i class="large material-icons left">notifications</i></a>
        </li>
    	<li>
    		<a href="" class="profile dropdown-trigger" data-target="dropdown-prof">
    			<img class="left" src="/uploads/img/profile/1.jpeg">
    		</a>
			<ul id='dropdown-prof' class='dropdown-content'>
				<li><a href="/admin/settings">Profile</a></li>
				<li><a href="/admin/logout">Logut</a></li>
			</ul>
    	</li>
    </ul>
	</div>	
</nav>
</header>