<%- include('../../partials/admin-head'); -%>
<%- include('../../partials/admin-navbar'); -%>
<div class="row">
	<%- include('../../partials/admin-sidenav', {menu: "galery"}); -%>

	<div class="col s12 m12 l10 side-content">
		<div class="card">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, provident voluptatum voluptatem quisquam a libero, assumenda magnam aspernatur repudiandae perferendis, laudantium voluptate tempora obcaecati dolorum, ipsa consequatur laborum! Esse, ad!</p>
		</div>
	</div>
</div>

<%- include('../../partials/admin-footer'); -%>
