<%- include('../../partials/admin-head'); -%>
<%- include('../../partials/admin-navbar'); -%>
<div class="row">
	<%- include('../../partials/admin-sidenav', {menu: "settings"}); -%>

	<div class="col s12 m12 l10 side-content">
		<div class="card">
			<h1>Settings</h1>
		</div>
	</div>
</div>

<%- include('../../partials/admin-footer'); -%>
